<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>프로그래머스 인공지능 데브코스 3조</h1>
    <button onclick="location.href='{% url 'main' %}'">Home</button>
    <button onclick="location.href='{% url 'dataset' %}'">Dataset</button>
    <button onclick="location.href='{% url 'analysis' %}'">Analysis</button>
    <button onclick="location.href='{% url 'conclude' %}'">Conclude</button>
    <br>
    <img src="http://www.hanuribiz.com/news/photo/202007/51573_41176_2119.jpg">
    <p>팀원: 가재준, 김도향, 오종서, 이상화, 이진용, 한원영</p>
</body>
</html>