<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Heooooooooooooooo</h1>
    <button onclick="location.href='{% url 'main' %}'">Home</button>
    <button onclick="location.href='{% url 'dataset' %}'">Dataset</button>
    <button onclick="location.href='{% url 'analysis' %}'">Analysis</button>
    <button onclick="location.href='{% url 'conclude' %}'">Conclude</button>
    {%for item in items%}
    <p>
        {{item.title}}
    </p>
    <img src="{{item.image.url}}" alt="">
    {% endfor %}
</body>
</html>